
*{
    margin:0;
    padding:0;

}



.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    width: 100vw;
    background-color: white;
}

@media (max-width: 600px) {
    .container{
        padding-top: 150px;;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: auto;
    }

    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 200px;
        padding: 10px;
    }

    .inside-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .right{
        width:500px;
    }

    .right p{
        text-align: center;
        padding: 20px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }

    .left img{
        height: 300px;
        width: 300px;
    }

    .button button{
        transition: all ease;
    }

    .button button:hover{
        transform: scale(1.1);
    }
}


.content{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    width: 900px;
    gap: 50px;
    
}
.inside-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;

}

.right{
    width: 500px;
}

      

.index-page{
    height:100vh;
    width: 100vw;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

left{
    display:flex;
    justify-content:center;
    align-items: center;
    margin: 60px;
}

.left img{
    height: 300px;
    width: 300px;
    border-radius: 50px;
    border: #f39cff solid 3px;
    box-shadow: #a6c1ee 10px 12px 13px;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-top: 200px;
}

@media (max-width: 600px) {
    .main-container{
        display: flex;
        flex-direction: column;
    }

}

.main-container h1{
    font-size: 50px;;
}

.main-container p{
    font-size: 25px;
}

.main-container button{
    height: 50px;
    width: 130px;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    border-radius: 7px;
    border: none;
    transition: all ease;
}

.main-container button:hover{
    transform: scale(1.1);

}



.button button{
    height: 50px;
    width: 130px;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    border-radius: 7px;
    border: none;
    transition: all ease;
}

.button button:hover{
    transform: scale(1.1);
}
